textarea {
    font-family: monospace !important;
}
.monospaced {
    font-family: monospace !important;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.red-text {
    color: #d9534f !important;
}
.green-text {
    color: #5cb85c !important;
}
.blue-text {
    color: #337ab7 !important;
}
.btn:focus {
    outline: none;
}
/*.form-control:focus {*/
    /*outline: none;*/
/*}*/
/*input {*/
    /*outline:0px !important;*/
    /*-webkit-appearance:none;*/
/*}*/
/*.form-control:focus {*/
    /*border-color: #FF0000;*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
/*}*/
/*.form-control {*/
    /*outline: none;*/
    /*/!*border: none !important;*!/*/
    /*-webkit-box-shadow: none !important;*/
    /*-moz-box-shadow: none !important;*/
    /*box-shadow: none !important;*/
/*}*/

/*.simplebox {*/
    /*border: solid 1px #ccc !important;*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*transition: none;*/
    /*-moz-transition: none;*/
    /*-webkit-transition: none;*/
/*}*/

/*.simplebox:focus {*/
    /*border: solid 1px #0000FF !important;*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*/!*transition: none;*!/*/
    /*/!*-moz-transition: none;*!/*/
    /*/!*-webkit-transition: none;*!/*/
/*}*/

.form-control:focus {
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.ng-valid.ng-dirty {
    border-color: #ccc;
}
