<section data-ng-controller="LogosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="logo.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == logo.user._id))">
		<a class="btn btn-info" href="/#!/logos/{{logo._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-danger" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="logo.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="logo.user.displayName"></span>
		</em>
	</small><br/><br/><br/>
    <textarea class="form-control blue-text" rows="5" data-ng-bind="logo.outputLogo" style="background-color: white; box-shadow: 3px 3px 10px #5bc0de;" readonly wrap='off'></textarea>
</section>
