<div class="jumbotron" style="margin-top: 5em;">
	<div class="container">
		<section class="row" data-ng-controller="SettingsController">
			<h3 class="col-md-12 text-center"><i class="fa fa-key"></i> Change Password</h3>
			<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
				<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="glyphicon glyphicon-asterisk text-muted"></i>
                                </span>
								<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password" aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="glyphicon glyphicon-asterisk text-muted"></i>
                                </span>
								<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password" aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="glyphicon glyphicon-asterisk text-muted"></i>
                                </span>
								<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save Password</button>
						</div>
						<div data-ng-show="success" class="text-center text-success">
							<strong>Profile Saved Successfully</strong>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
			<alert class="col-xs-8 col-xs-offset-2" ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)"><i ng-if="success" class="fa fa-check"></i><i ng-if="error" class="fa fa-exclamation"></i> {{ alert.msg }}</alert>
		</section>
	</div>
</div>

